body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

/*Variables defined*/
:root {
    --bg-info: #CDDEFF;
    --text-info: #373193;
    --bg-success: #CFF3DA;
    --text-success: #237946;
    --bg-warning: #FCFBC9;
    --text-warning: #A79A3F;
    --bg-error: #FAD3D7;
    --text-error: #831934;

}

.message {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 10px ;
    padding: 10px;
}

.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);

}

.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);

}

.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);

}
